{% extends 'base.html.twig' %}

{% block title %}Mon Panier
{% endblock %}

{% block body %}
	<h1>Mon Panier</h1>


{% if products is empty %}
	<p>Votre panier est vide.</p>
{% else %}

{% for item in productsWithQuantities %}
{# {{ dump(item) }} #}

	<div>
		<h2>{{ item.product.nom }}</h2>
		<p>Prix:
			{{ item.product.prixTTC }}</p>
		<p>Poids:
			{{ item.product.poids }}</p>
		<p>Quantité:
			{{ item.quantity }}</p>
		<a href="{{ path('cart_add_item', { productId: item.product.id }) }}">+1</a>
		<a href="{{ path('cart_remove_item', { productId: item.product.id }) }}">-1</a>

	</div>
{% endfor %}
<p>Total :
	{{ totalPrice }}
	€</p>

{% endif %}


{% endblock %}