{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}
	<style>
		.search-container,
		.results-title {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 20px;
		}

		.search-container {
			margin-top: 20px;
		}

		.product-list {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: center;
			padding: 0;
			list-style-type: none;
			margin: 0 auto;
		}

		.product-item {
			flex: 1 1 200px;
			max-width: 300px;
			border: 2px solid #8B4513;
			border-radius: 10px;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.product-item h2 {
			margin: 10px 0;
		}

		.product-item p {
			margin: 10px 0;
			font-size: 1.2em;
			color: #555;
		}

		.product-item a {
			margin-top: auto;
			padding: 10px 20px;
			color: #fff;
			background-color: #007bff;
			text-decoration: none;
			border-radius: 5px;
			transition: background-color 0.3s ease;
		}

		.product-item a:hover {
			background-color: #0056b3;
		}

		.product-info {
			margin: 10px 0;
		}

		.no_product{
			display : flex;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			background-color : #DC143C;
			color: #fff;
			width: 200px;
			height: 30px;
		}

	</style>

	<div class="search-container">
		<h1>Recherche de produits</h1>
		<div class="search_barre">


{# Turbo Drive est un outil d'accélération des applications web. Il améliore la vitesse de navigation en remplaçant les chargements de pages entières par des chargements de fragments de page via Ajax. une fois activé, il peut intercepter les soumissions de formulaire et essayer de charger les résultats en Ajax plutôt que de recharger la page entière. Cela peut entraîner des problèmes si la réponse du formulaire #}
{{ form_start(form, {'attr': {'data-turbo': 'false'}}) }} 
{# on désactive le sata-turbo en cas de disfonctionnement. #}
{{ form_widget(form.nom) }}

			<button type="submit" class="btn btn-primary">Rechercher</button>
			{{ form_end(form) }}
		</div>
	</div>

	{% if produits is not empty %}
		<div class="results-title">
			<h2>Résultats de recherche</h2>
		</div>
  
		<ul class="product-list">
			{% for produit in produits %}
				<li class="product-item">
					<h2>{{ produit.nom }}</h2>
					<p class="product-info">Marque:
						{{ produit.marque }}</p>
					<p class="product-info">Prix:
						{{ produit.prixTTC }}€</p>
					<p class="product-info">Poids:
						{{ produit.poids }}kg</p>
					<a href="{{ path('cart_add_item', { productId: produit.id }) }}">Ajouter au panier</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
<p class="no_product">Aucun produit trouvé</pc
lass=>
	{% endif %}
{% endblock %}

